<h1>Welcome to the Blog!!</h1>

<body>

<% @blogposts.each do |blogpost| %>
  <div style="border:1px solid black">
	<h2 style="color:blue"><%= blogpost.title %></h2>
	<p><%= blogpost.contents %></p>
        <div style="border:1px solid black">
            <%= link_to 'Show', blogpost %>
            <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
            <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
  </div>
<% end %>

</body>

<br/>
<br/>

<%= link_to 'New Blogpost', new_blogpost_path %>
